In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import dcbench

In [3]:
dcbench.SliceDiscoveryProblem.describe_instances()

,id,dataset,slice_category,slice_names,target_name
0,p_72074,celeba,correlation,"[bald=0_eyeglasses=1, bald=1_eyeglasses=0]",bald
1,p_72063,celeba,correlation,"[bald=0_gray_hair=1, bald=1_gray_hair=0]",bald
2,p_72077,celeba,correlation,"[bald=0_no_beard=1, bald=1_no_beard=0]",bald
3,p_72072,celeba,correlation,"[bald=0_smiling=1, bald=1_smiling=0]",bald

In [6]:
dcbench.tasks

[dcbench.tasks.minidata.MiniDataProblem,
 dcbench.tasks.slice.SliceDiscoveryProblem,
 dcbench.tasks.miniclean.problem.MinicleanProblem]

In [5]:
problem = dcbench.SliceDiscoveryProblem.get()

In [7]:
problem["slices"]

DataPanel(nrows: 9217, ncols: 3)